<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GeekTry Cloud OS</title>

    <link rel="stylesheet" th:href="@{/lib/element-ui/2.4.11/index.css}"/>
    <link rel="stylesheet" th:href="@{/lib/fontawesome/5.6.3/all.css}"/>

    <script th:src="@{/lib/vue/2.5.22/vue.min.js}"></script>
    <script th:src="@{/lib/element-ui/2.4.11/index.js}"></script>
    <script th:src="@{/lib/axios/0.18.0/axios.min.js}"></script>
</head>
<body style="font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei','微软雅黑',Arial,sans-serif;">
<div id="app">
    <el-row :gutter="20">
        <el-col :span="6">
            <el-tree style="height: 700px; overflow: auto;"
                     @node-click="handleNodeClick"
                     :props="nodeTree.nodeProps"
                     :load="loadNode"
                     highlight-current
                     accordion
                     lazy></el-tree>
        </el-col>

        <el-col :span="18">
            <el-tabs style="height: 700px; overflow: auto;"
                     v-model="fileTabs.currentTabPaneName"
                     type="card"
                     closable
                     @tab-remove="removeTab">
                <el-tab-pane v-for="tabPane in fileTabs.tabPanes"
                             :label="tabPane.label"
                             :name="tabPane.name">
                    <span v-for="line in tabPane.contentLines">
                        {{ line }}<br>
                    </span>
                </el-tab-pane>
            </el-tabs>
        </el-col>
    </el-row>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data() {
            return {
                nodeTree: {
                    nodeProps: {
                        label: 'name',
                        isLeaf: 'isLeaf'
                    }
                },
                fileTabs: {
                    currentTabPaneName: '',
                    tabPanes: []
                }
            };
        },
        methods: {
            loadNode(node, resolve) {
                if (node.level === 0) {
                    return resolve([{ type: 'DIR', path: '/', name: '/', isLeaf: false }]);
                }

                axios({
                    url: '/api/child_nodes',
                    method: 'get',
                    params: {
                        path: node.data.path
                    }
                }).then((response) => {
                    resolve(response.data);
                }).catch((error) => {
                    app.$message({
                        message: error.message,
                        type: 'error'
                    });
                });
            },
            handleNodeClick(data, node, component) {
                if (data.type === 'DIR') {
                    return;
                }

                if (app.fileTabs.tabPanes.filter(o => o.name === data.path).length !== 0) {
                    app.fileTabs.currentTabPaneName = data.path;
                    return;
                }

                axios({
                    url: '/api/file',
                    method: 'get',
                    params: {
                        path: data.path
                    }
                }).then((response) => {
                    const contentLines = response.data;
                    app.fileTabs.tabPanes.push({
                        label: data.name,
                        name: data.path,
                        contentLines: contentLines
                    });
                    app.fileTabs.currentTabPaneName = data.path;
                }).catch((error) => {
                    console.error(error.message);
                    app.$message({
                        message: '暂时不支持查看此类文件~',
                        type: 'warning'
                    });
                });
            },
            removeTab(targetTabPaneName) {
                let tabPanes = app.fileTabs.tabPanes;
                let currentTabPaneName = app.fileTabs.currentTabPaneName;
                if (targetTabPaneName === currentTabPaneName) {
                    tabPanes.forEach((tabPane, index) => {
                        if (tabPane.name === targetTabPaneName) {
                            let nextTabPane = tabPanes[index + 1] || tabPanes[index - 1];
                            if (nextTabPane) {
                                currentTabPaneName = nextTabPane.name;
                            }
                        }
                    });
                }
                app.fileTabs.currentTabPaneName = currentTabPaneName;
                app.fileTabs.tabPanes = tabPanes.filter(tab => tab.name !== targetTabPaneName);
            }
        }
    });
</script>
</body>
</html>